# Ignore temp files
*.swp
*.swo
*.old
*.bak

# Ignore .config/github-copilot directory
.config/github-copilot/*

# Ignore oh-my-zsh-custom/plugins directory
oh-my-zsh-custom/plugins/*

# Ignore vim plugin directory
vim/plugged/*
!vim/plugged/.gitkeep

# Ignore all structures in venv directory
venvs/*

