# Ignore temp files
*.swp
*.swo
*.old
*.bak

# Ignore vim plugin directory
vim/plugged/*
!vim/plugged/.gitkeep

# Ignore all structures in venv directory
venvs/*

install_shell_integration_and_utilities.sh
